.primary {
  border: 1px solid rgb(4, 15, 15);
  background: rgb(4, 15, 15);
  color: white;
  font-weight: bold;
  width: 200px;
}

.primary:hover {
  background: rgb(32, 32, 48);
}

.secondary {
  border: 1px solid rgb(4, 15, 15);
  color: rgb(4, 15, 15);
  background: white;
  font-weight: bold;
  width: 200px;
}

.secondary:hover {
  background: lightgray;
}
