.imgWrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.basicInfo {
  font-family: 'Dancing Script';
}

.basicInfo p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.imgWrapper img {
  width: 400px;
}
