.basicInfo {
  font-family: "Dancing Script";
}

.basicInfo p {
  font-size: 1.3rem;
  line-height: 1.6;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.imgWrapper img {
  width: calc(50% - 4px);
}
.imgWrapper img + img {
  margin-left: 8px;
}
