.basicInfo {
  font-family: "Dancing Script";
}

.basicInfo p {
  font-size: 1.3rem;
  line-height: 1.6;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.additionalInfo ul {
  list-style: square;
  margin-left: 15px;
  font-variant: small-caps;
}
.additionalInfo li + li {
  margin-top: 0.5rem;
}

.additionalInfo h2 {
  font-size: 1.25rem;
}

.additionalInfo p {
  font-size: 0.9rem;
  line-height: 1.5;
}

.imgWrapper img {
  width: calc(50% - 4px);
}
.imgWrapper img + img {
  margin-left: 8px;
}
