.bg {
  position: fixed;
  opacity: 0.06;
  background-image: url('/images/greinburg-hof.jpg');
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.headerImage {
  width: 100vw;
  height: 200px;
  object-fit: cover;
}

.container {
  max-width: 56rem;
  padding: 1rem 1rem;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerWrapper {
  border-top:1px solid rgb(104, 11, 11);
  clear: both;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem 0;
}
