.nav {
  background: darkslateblue;
  width: 100%;
}

.navList {
  display: flex;
  justify-content: center;
}

.navLink {
  color: white;
  display: block;
  padding: 1rem;
}

.navLink:hover {
  background-color: darkblue;
  text-decoration: none;
}

.activeLink {
  display: block;
  padding: 1rem;
  color: darkslateblue;
  background-color: white;
}

.activeLink:hover {
  background-color: lightgray;
  text-decoration: none;
}
