.bg {
  position: fixed;
  opacity: 0.06;
  background-image: url('/images/eagle-with-flag.jpg');
  background-position: center top;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.header {
  background: rgb(20, 9, 66);
  color: rgb(255, 255, 255);
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-family: 'Dancing Script';
  text-align: center;
}

.header nav li {
  display: inline-block;
}

.header nav li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.header nav li a:hover {
  background: rgb(32, 16, 95);
}

.headerImage {
  width: 100vw;
  height: 200px;
  object-fit: cover;
}

.container {
  max-width: 56rem;
  padding: 1rem 1rem;
  margin: 0 auto;
}

.footerWrapper {
  border-top:1px solid rgb(104, 11, 11);
  clear: both;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem 0;
}
