.container {
  width: 100vw;
  height: 100vh;
  background: rgb(20, 9, 66);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: rgb(122, 122, 122);
  font-family: 'Baskerville', serif;
}

.title,
.subTitle {
  font-weight: normal;
  margin: 0;
  line-height: 1.2;
}
.title {
  font-size: 2rem;
}
.subTitle {
  font-size: 1.6rem;
  font-style: italic;
}

.imgEagle {
  height: 15vh;
  max-height: 300px;
  margin-bottom: 1rem;
}

@media screen and (min-width: 420px) {
  .title {
    font-size: 3rem;
  }
  .subTitle {
    font-size: 1.8rem;
  }
  .imgEagle {
    height: 25vh;
  }
}
@media screen and (min-width: 813px) {
  .title {
    font-size: 4rem;
  }
  .subTitle {
    font-size: 2rem;
  }
  .imgEagle {
    height: 30vh;
  }  
}


.languageList {
  display: flex;
  max-width: 90vw;
}

.languageList li + li {
  margin-left: 2rem;
}

.languageLink {
  color: rgb(122, 122, 122);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}