.container {
  font-size: 0.9rem;
}

.numberCol {
  width: 80px;
}

.details {
  font-size: 0.8rem;
}
.details h4 {
  margin-bottom: 0.25em;
  margin-top:  0.25em;
}
.details p {
  margin-block-start: 0;
}
