.addButton {
  border: 1px solid darkslateblue;
  color: darkslateblue;
  background: white;
  font-weight: bold;
  width: 200px;
}

.addButton:hover {
  background: lightgray;
}

.submitButton {
  background: darkslateblue;
  color: white;
  font-weight: bold;
  width: 200px;
}

.submitButton:hover {
  background: darkblue;
}
