.wrapper {
  display: flex;
}

.wrapper > * {
  flex: 1;
}

.wrapper > * + * {
  margin-left: 3rem;
}

.guestList li + li {
  margin-top: 1rem;
}

.guestList input {
  width: 300px;
}

.formActions {
  width: 200px;
}

.formActions > * + * {
  margin-top: 1rem;
}
