.listItem {
  width: 100%;
}

.listItem + .listItem {
  border-top: 1px solid lightgray;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
